/* banner part style */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    /* font-family: "Merriweather", serif; */
    /* font-family: "Inter", sans-serif; */
}

.banner-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/Banner Image.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    width: 1320px;
    height: 600px;
    margin: 50px 140px;
    position: relative;
    text-align: center;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner-text h1,h3{
    color: white;
    font-family: "Merriweather", serif;
}

.banner-text h3{
    font-size: 32px;
    font-weight: 400;
}

.banner-text h1{
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
}

/* Categories part styles */
.categories{
    margin: 80px 140px 120px;
}

.categories h1{
    color: #F00;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 48px;
        
}

.categories p{
    color: #F00;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 16px;
}

.categories h2{
    color: #070211;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    
}

.categories img{
    display: block;
    margin: 0 auto;
}

/* midnight party styles */
.midnight-party{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.4),
        rgba(0, 0, 0, 0.3)), url("../images/Vectorrr.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 14px;
    width: 1320px;
    height: 600px;
    margin: 50px 140px;
    position: relative;
}

.midnight-party h2,h4,p{
    color: white;
}

.midnight-party h2{
    color: #FFF;
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
}

.party-heading {
    padding-top: 126px;
    padding-left: 126px;
    padding-bottom: 24px;
}

.midnight-party p{
    color: rgba(255, 255, 255, 0.80);
    font-family: "Inter", serif;
    font-size: 18px;
    font-weight: 400;     
}

.party-info{
    padding-left: 140px;
    padding-bottom: 48px;
}

.midnight-party a{
    color: #FFF;
    font-family: "Inter" , serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-left: 140px;
    text-decoration: none;
}

.midnight-party img{
    position: absolute;
    top: 68px;
    right: 138px;
}

/* date place part styles */
.date-place{
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 1320px;
    height: 482px;  
    border-radius: 14px;
    text-align: center;
    margin: 120px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.date-place-info h2{
    color: #070211;
    font-family: "Inter", serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.text-red {
    color: #F00;
}

.date-place-info button{
    padding: 16px 32px;
    border-radius: 8px;
    margin-top: 48px;
    background: #F00;
    color: #FFF;
    border: none;
    cursor: pointer;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 700;
}

/* coming soon part styles */
.coming-soon-container{
    margin: 0 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10%;
}

.coming-soon-heading h2{
    color: #F00;
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 500;
}

.coming-soon-heading h1{
    color: #070211;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.coming-soon-heading span{
    color: rgba(7, 2, 17, 0.60);
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
}

.coming-soon-time h1{
    color: #F00;
    font-family: "Inter", serif;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 16px;
}

.coming-soon-image img{
    border-radius: 50%;
    border: 12px solid red;
    padding: 15px;
}

.coming-soon-time span{
    color: rgba(7, 2, 17, 0.60);
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
}

.coming-soon-time img{
    margin-top: 40px;
}

/* portfolio part styles */
.portfolio-container {
    width: 1320px;
    margin: 120px auto;
}
.portfolio-info h2{
    color: #F00;
        font-family: "Inter", serif;
        font-size: 24px;
        font-weight: 500;
}

.portfolio-info h1{
    color: #070211;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 16px;
    margin-bottom: 22px;
}

.portfolio-info span{
    color: rgba(7, 2, 17, 0.60);
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
}

.portfolio-images {
    margin-top: 48px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 5px;
}

/* subscribe part styles */
.subscribe {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 1320px;
    height: 616px;
    margin: 0 auto;
}

.subscribe-items{
    text-align: center;
}

.subscribe-items img{
    padding-top: 80px;
}

.subscribe-items h1{
    color: #070211;
    text-align: center;
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    margin-top: 40px;
    margin-bottom: 22px;
}

.subscribe-items p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 48px;
}

.subscribe-items input[type="email"]{
    width: 648px;
    height: 72px;
    border-radius: 50px 0 0 50px;
    background: #FFF;
    font-size: 24px;
    padding-left: 50px;
    border: none;
}

.subscribe-items input[type="submit"] {
    border-radius: 0 50px 50px 0;
    width: 210px;
    height: 72px;
    background: #F00;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: "Inter", serif;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* footer part styles */
.footer{
    margin-top: 120px;
    background: #070211;
    height: 609px;
}

.address-phone {
    padding-top: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 50px;
}

.address > h3 {
    color: #FFF;
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.phone-img a, .website a {
    text-decoration: none;
    color: #FFF;
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.social-icon {
    display: flex;
    column-gap: 30px;
}

.rights {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
}

.rights > h3 {
    color: #FFF;
    font-family: "Inter", serif;
    font-size: 24px;
    font-weight: 500;
}